<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DURGA JOBS-CONTINUE UPDATES</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/jobs6.css" %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>WELCOME TO DURGA JOBS</h1>
        <p>Continues JObs Updates For Every Hour..</p>
        <a class="btn btn-primary btn-lg" href="HydJobs" role="button">Hyderbad Jobs</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="BngJobs" role="button">Bangalore Jobs</a>&nbsp;
        <a class="btn btn-primary btn-lg" href="PuneJobs" role="button">Pune Jobs</a>&nbsp;
      </div>
    </div>
  </body>
</html>
