.container{
  margin-top: 70px;
  text-align: center;
}

.container .jumbotron{
  background: Aquamarine Blue;
  color: black;
}

.jumbotron a{
  background: Turquoise;
  color: black;
  border: 2px solid white;
}

body{
  background: url('https://img.freepik.com/free-vector/jobs-background-design_1200-196.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  height: 100%;
}
